.container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: rotate(45deg);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

 li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #333;
    border-radius: 5px;
}

li:hover {
    background-color: #e6e6e6;
}

article {
    border-width: 2px;
    border-style: solid;
    letter-spacing: 2px;
    word-wrap: break-word;
}

article::first-letter {
    color: red;
    font-size: large;
}

article::before {
    content: "КРУТАЯ ЛАБА ПО ВЕБУ   "
}

article::after {
    content: "КРУТАЯ ЛАБА ПО ВЕБУ   "
}

article::selection {
    color: black;
}
li::before {
    content: "\20aa";
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

li:first-child {
    background-color: aqua;
}

li:nth-child(3) {
    background-color: yellow;
}

li:last-child {
    background-color: green;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    
    font-family: "Helvetica Neue", 'Courier New', Courier, monospace;
}

.table-header {
    caption-side: top;
    font-size: 30px;
    margin: 10px;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #333;
}

tr:hover {
    background-color: #333;
}

td:empty::before {
    content: '\00a0';
}

td:empty::before {
    display: block;
    background-color: yellow;
    width: 100%;
    height: 100%;
}


.certificate {
    background-image: url('https://i.pinimg.com/originals/0f/18/72/0f1872ae8eef2e9e06c32d0e30277ac2.jpg');
    -moz-background-image: url('https://i.pinimg.com/originals/0f/18/72/0f1872ae8eef2e9e06c32d0e30277ac2.jpg');
    -webkit-background-image: url('https://i.pinimg.com/originals/0f/18/72/0f1872ae8eef2e9e06c32d0e30277ac2.jpg');
    color: white;
    text-align: center;
    width: 900px;
    height: auto;
    margin-left: 25%;
    z-index: 1  ;
    border-image: url('https://cdn.firstcry.com/education/2022/11/06094158/Toy-Names-For-Kids.jpg');
    border: 10px solid;
}

.certificate p, pre {
    z-index: 2;
    font-family: 'Ubuntu';
}

h3 {
    font-variant: small-caps;
}