body {
    background: linear-gradient(to bottom, #222222, #000000);
    color: white;
    margin: 0;
    margin-top: 70px;
}

p {
    padding: 10px 20px 10px 50px;
    text-indent: 40px;
    line-height: 150%;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.license {
    display: flex;
    justify-content: flex-end;
}

button {
    cursor: pointer;
}


.visit a:visited {
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    body {
        background: white;
    }
}