.contacts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact img {
    width: 100%;
    border-radius: 5px;
}

.contact h3 {
    margin-top: 10px;
}

.contact p {
    margin: 5px 0;
}

.contact p span {
    font-weight: bold;
}

.vacancy {
    width: 300px;
    margin: 10px;
    float: right;
    /* clear: both; */
}

.vacancy details {
    margin-top: 0;
}

.vacancy details summary {
    margin-bottom: 0;
}