.partners-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.round {
    border-radius: 100px;
    border: 3px solid blue;
    box-shadow: 0 0 7px #666;
}

.partners {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.partners li {
    margin-right: 10px;
}

.partners li img {
    object-fit: cover;
    height: 250px;
    width: 400px;
    background-color: aqua;
}

.partner {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.partner.animated {
    opacity: 1;
    transform: translateY(0);
}

.partner.disappear {
    opacity: 0;
    transform: translateY(-30px);
}


hr {
    margin-top: 80px;
    margin-bottom: 80px;
}

.text-center {
    text-align: center;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* padding: 10px 20px; */
    background: #f1f1f1;
    border: none;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-animation {
    animation: carouselSlide 5s infinite;
}

@keyframes carouselSlide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(0);
    }
}


.grid-container {
    display: grid;
    gap: 20px;
}

.grid-item {
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item {
    position: relative;
    perspective: 1000px;
    cursor: pointer;
}

.item-content {
    transform-style: preserve-3d;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.grid-item:hover .item-content {
    transform: rotateY(10deg) scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


/* .grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.grid-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.2);
}

.grid-item .btn {
    transition: transform 0.3s ease;
}

.grid-item:hover .btn {
    transform: translateY(-5px);
} */

.grid-item img {
    width: 70%;
    height: auto;
}

.grid-item .title {
    font-weight: bold;
    margin-top: 10px;
}

.grid-item .price {
    color: #888888;
    margin-top: 5px;
}

button[class^="carousel-"] {
    background-color: blue;
    color: white;
}

button[class$="prev"] {
    background-color: red;
    color: white;
}

button[type="button"] {
    font-family: 'Courier New', Courier, monospace;
}