h1 {
    text-align: center;
    vertical-align: middle;
}

p {
    text-align: center;
    vertical-align: middle;
}

div {
    text-align: center;
    vertical-align: middle;
}

.button_sign_in {
    padding: 15px 32px;
    border-radius: 8px;
    background-color: green;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: medium;
}