/* .container {
    /* display: grid; 
} 

.category-list {

    width: fit-content;
    height: max-content;
    border: 3px solid green; 
}
*/

/* .container {
    padding: 0%;
    margin: 0%;
    width: 100%;
    display: inline-flex;
} */



.toys-list {
    /* float: right; */
    /* text-align: right; */
    margin-left: auto;
    padding: 20px;
    width: 950px;
    background-color: #f1f1f1;

    /* width: fit-content; */
}

.button-form {
    display: inline-flex;

}


.create-button {
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
}



/* .category-list {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2em;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: left;
    padding: 0;
    list-style-type: none;
    float: left;
    width: 30%;
    background: #ccc;
    
} */

/* .category-list li {
    counter-increment: step-counter;
    margin-bottom: 10px;
} */
/* 
.category-list li::before {
    float: left;

    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(0, 200, 200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
} */

button {
    padding: 15px 32px;
    border-radius: 8px;
    background-color: green;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: medium;
}

/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;
}

th {
    font-family: Montserrat-Medium;
} */