{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock %}


{% block content %}

<head>
    <title>Sign in</title>
</head>

<body>
    <br><br><br><br><br><br><br><br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button class="button_sign_in" type="submit">Sign in</button>
        </div>
    </form>

</body>
<tail>
    <div class="bottom-right">
        <br><br><br><br>
        <p>Random joke :D<br>
            Setup: {{ joke_setup }}<br>
            Punchline: {{ joke_punchline }}
        </p>
    </div>
</tail>
{% endblock %}

</html>