{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock %}

{% block title %}
<title>Sign in</title>
{% endblock %}

{% block content %}


<body>
    <br><br><br><br><br><br><br><br><br>
    <div class="wrapper">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button class="button_sign_in" type="submit">Sign in</button>
            </div>
        </form>
        <div id="push"></div>
    </div>
    <div class="bottom-right">
        <br><br><br>
        <p>Random joke :D<br>
            {{ joke_setup }}<br>
            {{ joke_punchline }}
        </p>
    </div>
</body>


{% endblock %}

</html>