{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

{% block title%}
<title>
    Sign up
</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{% endblock %}

{% block content %}


<body>
    <div id="wrap">
        <div id="content">
            <form action="" method="POST">
                <br><br><br>
                {% csrf_token %}
                    {{ form.as_p }}
                <div class="button_container">
                    <button class="button_sign_up" type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}

</html>