{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Create review</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'create_review.css' %}">

{%endblock%}

{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <h2>Review form</h2>
        <p class="lead">When leaving a review, please be as honest as possible. Avoid leaving angry or
            negative reviews before contacting us. Let's be a friendly community :)</p>
    </div>

    <form class="review-form" method="post" novalidate="">
        <h4 class="mb-3">Review</h4>
        {% csrf_token %}
        <div class="form-group">
            <label for="review-description" class="form-label">Description</label>
            <textarea class="form-control" id="review-description" name="review-description" placeholder="Leave your comment here"
                value="" required=""></textarea>
            <span class="input-warning">
                Valid description is required.
            </span>

            <div class="form-group">
                <label for="rating" class="form-label">Rating</label>
                <select class="form-select" name="rating" id="rating" required="">
                    <option value="">Choose...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span class="input-warning">
                    Please select a valid rating.
                </span>
            </div>

            <button type="submit" id="submit-button" disabled>Create review</button>
    </form>
</div>


<script type="text/javascript" src="{% static 'js/review_button.js' %}"></script>


{% endblock %}