{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1 class="h1">Promocodes and sales</h1>

<h2 class="h2">Active</h2>
<ul class="list-group">
    {% for promo in promocodes %}
    {%  if promo.is_active %}
    <li class="list-group-item list-group-item-action">
        <p>{{ promo.name }}</p>
        <span class="badge bg-primary rounded-pill">{{ promo.discount }}%</span>
    </li>
    {% endif %}
    {% endfor %}
</ul>


<h2 class="h2">Archived</h2>
<ul class="list-group">
    {% for promo in promocodes %}
    {%  if not promo.is_active %}
    <li class="list-group-item list-group-item-action">
        <p>{{ promo.name }}</p>
        <span class="badge bg-primary rounded-pill">{{ promo.discount }}%</span>
    </li>
    {% endif %}
    {% endfor %}
</ul>


{% endblock %}