{% extends 'base.html'%}
{% load static %}

{% block title%}
<title>
    About us
</title>
{% endblock %}

{% block content %}


<h1 class="h1 mt-5 m-lg-4 mb-5">ABOUT US</h1>

<article class="lead m-lg-5">
    Welcome to our company, your ultimate destination for all things playful and exciting!
    We are a leading toys store company dedicated to bringing joy, imagination, and laughter into the lives of children
    and adults alike.
    Step into our world and discover a treasure trove of enchanting toys, games, and collectibles that will ignite your
    imagination and create lasting memories.
</article>

<h3 class="h3 mt-3 m-lg-4 mb-3">Our Mission</h3>
<article class="m-lg-5">
    Our mission is to inspire and nurture the boundless imagination of children while fostering a
    sense of nostalgia and wonder in adults. We believe in the power of play and its ability to nurture creativity,
    problem-solving skills, and social development. Our goal is to provide an exceptional shopping experience, offering
    a diverse range of high-quality toys that entertain, educate, and ignite the imagination of young minds.
</article>

<h3 class="h3 mt-3 m-lg-4 mb-3">History</h3>
<ul class="list-group list-group-flush m-lg-5">

    <li class="list-group-item">
        1990: [Company Name] is founded by [Founder's Name] in a small storefront in [City]. With a deep passion for
        toys
        and a dream to create a magical experience for children and families, [Founder's Name] sets out on a mission to
        bring joy and imagination to the community.

    </li>
    <li class="list-group-item">
        1992: The popularity of [Company Name] grows rapidly, and the store expands to a larger location to accommodate
        the
        increasing demand for its diverse range of toys. The expanded space allows for a wider selection of toys, games,
        and
        collectibles to delight customers of all ages.

    </li>
    <li class="list-group-item">
        1995: [Company Name] establishes itself as a leading destination for toys in the region, gaining a reputation
        for
        its exceptional customer service, knowledgeable staff, and high-quality products. The store becomes a beloved
        fixture in the community as generations of families continue to visit and create lasting memories.

    </li>
    <li class="list-group-item">
        2000: Embracing technological advancements, [Company Name] launches its first e-commerce website, allowing
        customers
        to browse and purchase toys from the comfort of their homes. The online store expands the company's reach beyond
        the
        local community, attracting toy enthusiasts from all over the country.

    </li>
    <li class="list-group-item">
        2005: [Company Name] opens its second location in a bustling shopping district, further cementing its presence
        in
        the toy retail industry. The new store offers an immersive and interactive shopping experience, complete with
        play
        areas and themed displays that captivate the imagination of visitors.

    </li>
    <li class="list-group-item">
        2010: In celebration of its 20th anniversary, [Company Name] launches a series of community initiatives,
        partnering
        with local schools and organizations to provide toys and play experiences to underprivileged children. The
        company's
        commitment to giving back becomes an integral part of its identity.

    </li>
    <li class="list-group-item">
        2015: [Company Name] expands its product offerings to include a wider range of educational toys, recognizing the
        importance of play in early childhood development. The store becomes a go-to destination for parents and
        educators
        seeking toys that foster learning, creativity, and critical thinking skills.

    </li>
    <li class="list-group-item">
        2020: Despite the challenges posed by the global pandemic, [Company Name] adapts and continues to serve its
        customers through online channels, offering virtual shopping experiences, curbside pickup, and doorstep
        delivery.
        The company's resilience and dedication to its customers earn it even greater admiration and support from the
        community.

    </li>
    <li class="list-group-item">
        Present: With multiple locations, a thriving online presence, and an unwavering commitment to providing joy and
        inspiration through play, [Company Name] remains a beloved and trusted name in the toy retail industry. As the
        company looks to the future, it continues to innovate, explore new trends, and stay true to its founding
        principles
        of delivering wonder and happiness to children and toy enthusiasts worldwide.

    </li>
</ul>

<iframe class="m-auto d-flex" width="1200" height="615" src="https://www.youtube.com/embed/CxwTLktovTU"
    type='video/mp4'>
    Тег video не поддерживается вашим браузером.
</iframe>





{% endblock %}