{% extends 'base.html'%}
{% load static %}

{% block title%}
<title>
    Contacts
</title>
{% endblock %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{% static 'contacts.css' %}">
{%endblock%}


<h2 class="pb-2 border-bottom">Contacts</h2>

<div class="contacts-container">
    <div class="contact">
        <img src="{% static 'images/krosh.png'%}">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">KROSH</h3>
        <p>Main toy supplier</p>
        <p>krosh@gmail.com</p>
    </div>
    <div class="contact">
        <img src="{% static 'images/nusha.png'%}">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">NUSHA</h3>
        <p class="lead">Head of sales department</p>
        <p>nusha@gmail.com</p>

    </div>

    <div class="contact">
        <img src="{%static 'images/pin.png'%}">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">PIN</h3>
        <p class="lead">Electric</p>
        <p>pin229@gmail.com</p>
    </div>
</div>
</div>

<h2 class="h2">Vacancies</h2>
<div class="vacancy">

    <details>
        <summary class="accordion-button">Store Manager
            <pre>   </pre> <span class="badge bg-primary rounded-pill">200-500$</span>
        </summary>
        <br>
        Responsibilities: Oversee daily operations, manage staff, ensure smooth functioning of the store, handle
        inventory management
        and ordering, develop and implement sales strategies, provide excellent customer service.
        <br>
        <br>
        Requirements: Previous retail management experience, strong leadership and organizational skills, knowledge of
        the toy industry, exceptional communication and problem-solving abilities.
    </details>

    <details class="list-group-item list-group-item-action accordion-body">
        <summary class="accordion-button">Sales Associate
            <pre>   </pre> <span class="badge bg-primary rounded-pill">1200-1500$</span>
        </summary>
        <br>
        <br>
        Responsibilities: Assist customers in finding and purchasing toys, provide product information and
        recommendations, handle cash transactions, maintain store cleanliness and visual merchandising, restock shelves.
        <br>
        <br>
        Requirements: Friendly and approachable demeanor, excellent customer service skills, ability to work in a team,
        knowledge or interest in toys, good communication and sales skills.

    </details>

    <details class="list-group-item list-group-item-action accordion-body">
        <summary class="accordion-button">Toy Demonstrator
            <pre>   </pre> <span class="badge bg-primary rounded-pill">800-900$</span>
        </summary>
        <br>
        <br>
        Responsibilities: Demonstrate and showcase toys to customers, explain features and functionalities, engage with
        children and parents, create an interactive and fun environment, answer customer questions.
        <br>
        <br>
        Requirements: Enthusiasm for toys and children, ability to captivate and entertain an audience, excellent
        presentation and communication skills, ability to work flexible hours including weekends.

    </details>

</div>


{% endblock %}