{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

{% block title%}
<title>
    Create product
</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{% endblock %}

{% block content %}

<body>
    <div id="wrap">
        <div id="content" style="max-width: fit-content; margin-top: 10%;">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="button_save" type="submit" value="Save">
                {% if is_product %}
                <a href="{% url 'home:create_model' %}" id="button_save" type="button">Create model</a>
                {%endif%}
            </form>
        </div>

    </div>
</body>
{% endblock %}



</html>