{% extends "base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'details.css' %}">
{% endblock %}

{% block content %}

<div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}
    {% static 'images/no_image.svg' %}{% endif %}">
    <h1>Product name: {{ product.name }}</h1>
    <h2>
        Category: <a href="{{ product.category.get_url }}">{{ product.category.name }}</a>
    </h2>
    <h3 class="cost">Cost: {{ product.cost }}$</h3>
    <p>In production: {% if product.in_prod %}Yes{% else %}No{%endif%}</p>



    <!-- {{ book.summary|linebreaks }} -->
    <div class="additional-buttons">
        <input class="GoBackButton" type="button" value="Go back to catalog" onclick="history.back()">
        {%if user.is_staff%}
        <form action="{{ product.get_edit_url }}">
            <input onclick="location.href = '{{ product.get_edit_url }}'" type="button" href="" value="Edit"></input>
        </form>

        <form action="{{ product.get_delete_url }}">
            <input type="button" onclick="location.href='{{ product.get_delete_url }}'" value="Remove"></input>
        </form>
        {%endif%}
    </div>
    <!-- <div class="bottom-right">
        <p>{{ joke }}</p>
    </div> -->



</div>
{% endblock %}