{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{% endblock %}

{% block content %}

<body>
    <div id="wrap">
        <div id="content" style="max-width: fit-content; margin-top: 10%;">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="button_save" type="submit" value="Save">

            </form>
        </div>

    </div>
</body>
{% endblock %}



</html>