{% extends 'base.html'%}
{% load static %}

{% block content %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
      aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img class="d-block" src="{% static 'images/banner1.jpeg'%}"
        style="object-fit: cover; height: 620px; width: 1850px;" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-start text-black">
          <h1>Join us today</h1>
          <p>Create a free account to make easy and fast purchases now.</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'login:registration' %}">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block" src="{% static 'images/banner.jpg'%}"
        style="object-fit: cover; height: 620px; width: 1850px;" alt="Second slide">
      </img>

      <div class="container">
        <div class="carousel-caption text-black">
          <h1>The best toys store in the world</h1>
          <p>Huge catalog of toys, low prices and much more</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'home:categories' %}">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block" src="{% static 'images/banner3.jpg'%}"
        style="object-fit: cover; height: 620px; width: 1850px;" alt="First slide">
      </svg>

      <div class="container">
        <div class="carousel-caption text-end text-black">
          <h1>Huge company trusted by many</h1>
          <p>Learn about us and our companions</p>
          <p><a class="btn btn-lg btn-primary" href="#">About us</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<hr style="margin-top: 80px; margin-bottom: 80px;">
<h1 class="h1 text-center">WE ARE TRUSTED</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <a class="nav-item nav-link" href="https://www.funtastik.by/" target="_blank">
        <img class="rounded-3" src="{%static 'images/funtastik.png'%}"
          style="object-fit: cover; height: 250px; width: 400px;"></img>
      </a>
    </div>
    <div class="col">
      <a class="nav-item nav-link" href="https://www.detmir.by/" target="_blank">
        <img class="rounded-3" src="{%static 'images/detmir.jpg'%}"
          style="object-fit: cover; height: 250px; width: 400px;"></img>
      </a>
    </div>
    <div class="col">
      <a class="nav-item nav-link" href="https://en.wikipedia.org/wiki/Toy_Story" target="_blank">
        <img class="rounded-3" src="{%static 'images/toystory.png'%}"
          style="object-fit: cover; height: 250px; width: 400px; background-color: aqua;"></img>
      </a>
    </div>
  </div>
</div>

<hr style="margin-top: 80px; margin-bottom: 80px;">



<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for product in latest_products%}
    <div class="col">
      <div class="card shadow-sm">
        <img src="{{ product.image.url }}">
        <div class="card-body">
          <p class="card-text">{{ product.name }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <a class="btn btn-sm btn-outline-secondary" href="{{ product.get_detail_url }}">Learn more</a>
            <small class="text-body-secondary">{{ product.cost }}$</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}