{% extends 'base.html'%}
{% load static %}

{% block title%}
<title>
    News
</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'news.css' %}">
{% endblock %}

{% block content %}

<script>
    function toggleContent(name) {
        var content = document.getElementById(name);
        content.querySelector('.article-content').classList.toggle('show');
    }
</script>

{% for n in news %}
<div id="{{ n.name }}" class="article">
    <img src="{{ n.image_url }}" class="bd-placeholder-img rounded-circle" width="140" height="140"
        aria-label="Some picture" preserveAspectRatio="xMidYMid slice" focusable="false">
    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
    </img>
    <h2 class="article-title">{{ n.name }}</h2>
    <p class="article-summary">{{ n.description}}</p>
    <p class="article-content">{{ n.description }}</p>
    <div class="read-more" onclick="toggleContent('{{ n.name }}')">Learn more</div>
</div>
{% endfor %}



{% endblock %}